/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5em;
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

a:hover {
    color: aqua;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content styling */
main {
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;

}




main .p-bottom {
    display: grid;
    grid-template-areas: 'Area Area Area';
    margin: 20px;
    grid-gap: 80px;
    
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services {
    display: flex;
    flex-direction: column;
}

.l-1 {
    grid-area: a;
  }
  .l-2 {
    grid-area: b;
  }
  .l-3 {
    grid-area: c;
  }
  .l-4 {
    grid-area: d;
  }
  .l-5 {
    grid-area: e;
  }
  .l-6 {
    grid-area: f;
  }
#services .s-bottom {
    display: grid;
    gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas:
      "a  b  c"
      "a  b  c"
      "d  e  f"
      "d  e  f";
    margin: 20px;
    align-content: center;
    padding-right: 70px;
    padding-left: 70px;
}
section {
    margin-bottom: 2em;
}

/* Footer Styling */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}