*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section Start */
header {
    text-align: center;
    font-size: 26px;
    background-color: black;
    color: #fff;
    padding: 10px;
    width: 100%;
}

@media  only screen and (max-width: 768px) {
    header {
        display: none;

    }
}
/* Header Section End */

/* Nav Bar Section Start */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color:saddlebrown;
    padding: 5px 300px 5px;
    gap: 20px;
    
}

nav a{
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: rgb(57, 188, 240);
}


@media  only screen and (max-width: 768px) {
    nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    
    }
}
/* Nav Bar Section End */


/* About Section Start */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 20px;
    background-color: beige;
}

#about .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 100px 20px;
}

#about .p-txt {
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    line-height: 3;
    padding: 10px;
}

@media  only screen and (max-width: 768px) {
    #about .left .img{
        display: none;     
    }
}
/* About Section End */

/* Service Section Start*/
#services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px 70px 30px;
    background-color: blanchedalmond;
}

#services .s-top h2{
    font-size: 32px;
    font-family: Arial;
}

#services .s-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

#services .s-bottom .l-1, .l-2, .l-3, .l-4, .l-5, .l-6  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

@media  only screen and (max-width: 768px) {
    #service {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;     
    }
}
/* Service Section End*/

/* Contact Section Start */

#contact {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 15px 20px;
}
#contact .c-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    gap: 5px;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
        width: 200px;
        padding: 5px;
    }
    textarea{
        height: 200px;
        width: 400px;
        border-radius: 5px;
        padding: 5px;
    }  
}

form #button:active {
    box-shadow: 2px 2px 5px #fc894d;
    border-radius: 5px;
}
/* Contact Section End */